/**
    Надо исправить:
    -- данный модификатор должен быть для другого элемента
    -- Файл для класса модификатора ключ-значение необходимо хранить в папке ключа
    https://skr.sh/sF2m0v9ZlP5
*/
.footer__columns_content_copyright {
    flex-basis: 771px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}