/**
    Надо исправить:
    -- блок должен храниться в своей папке, шрифт необходимо задать блоку page
*/

.blocks {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}