/**
    Надо исправить:
    -- изображение нужно подключать из папки img, которая находится в каталоге проекта, т.е. необходимо использовать ../../. Сейчас изображение подключается из корня проекта, т.е. если проект будет запущен вложенно, то файл не будет найден (https://skr.sh/sF2nmNLOQqO)
*/
.feynman {
    position: relative;
    height: 890px;
    background: url(/img/feynman.png) left bottom no-repeat;
    background-color: #f2f2f2;
}