/**
    Можно лучше
    задать высоту header 100%
*/
.header {
    min-height: 700px;
    max-height: 756px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}