/**
    Надо исправить:
    -- Файл для класса модификатора ключ-значение необходимо хранить в папке ключа
    https://skr.sh/sF2m0v9ZlP5
*/
.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
}