/**
    Надо исправить:
    - для page нужно создать отдельный каталог
    - к тегу напрямую в БЭМ не обращаемся
*/
a {
    color: #2f80ed;
    text-decoration: none;
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
}