/**
    Надо исправить:
    -- Файл для класса модификатора ключ-значение необходимо хранить в папке ключа
    https://skr.sh/sF2m0v9ZlP5
*/
.table_theme_dark {
    width: 1100px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    padding-bottom: 90px;
}