/**
    Надо исправить:
    -- Файл для класса модификатора ключ-значение необходимо хранить в папке ключа
    https://skr.sh/sF2m0v9ZlP5
*/
.table__cell_theme_dark {
    width: 200px;
    padding-top: 80px;
}